body {
    font-family: 'Poller One', cursive;
    background-image: url("images/sky.jpg");
    color: whitesmoke;
    background-attachment: fixed;
}

header {
    background-color: rgba(60, 69, 67, 0.6);
    border-radius: 15px 15px 0 0;
}

nav > ul {
    list-style: none;
    position: fixed;
    top: 5px;
}

header > h1 {
    text-align: center;
    padding: 1em 0;
}

nav li {
    display: inline;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(204, 3, 3, 0.6);
    cursor: pointer;
}

.left {
    float: left;
    margin: 5px 15px 0 5px;
}

.right {
    border: whitesmoke 1px solid;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    float: right;
}

.right div {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 380px;
    justify-content: center;
    text-align: center;
}

.right h3 {
    text-align: center;
}

footer {
    background-color: rgba(60, 69, 67, 0.6);
    border-radius: 0 0 15px 15px;
    height: 4em;
    clear: both;
}

img {
    box-shadow: rgba(120, 69, 67, 0.6) 10px 10px;
}

.right img {
    box-shadow: none;
    height: 120px;
    width: 160px;
}

.farGalaxy {
    font-size: 1.5em;
    text-align: justify;
    letter-spacing: 0.2em;
    line-height: 1.5;
}

.button {
    border: 2px solid white;
    border-radius: 5px;
    width: 9em;
    height: 2em;
    background-color: rgba(204, 3, 3, 0.6);
    cursor: pointer;
}

.button > p {
    font-size: 0.8em;
    text-align: center;
    margin-top: 0.6em;
}

.email {
    font-size: 1.2em;
    color: black;
    font-variant: small-caps;
}









